<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
         <!--
         <testsuite name="Integration">
            <directory suffix="Test.php">./tests/Integration</directory>
            <exclude>./tests/Integration/External/Bip</exclude>
            <exclude>./tests/Integration/External/Ojo</exclude>
            <exclude>./tests/Integration/External/Almacenamiento/Azure</exclude>
        </testsuite>

        <testsuite name="System">
            <directory suffix="Test.php">./tests/System</directory>
        </testsuite>
        
        <testsuite name="Infrastructure">
            <directory suffix="Test.php">./tests/Infrastructure</directory>
        </testsuite>
        -->
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
    <php>
        <!-- <server name="APP_ENV" value="testing"/> -->
        <!-- <server name="APP_CONFIG_CACHE" value="bootstrap/cache/config.phpunit.php"/> -->
        <!-- <server name="APP_SERVICES_CACHE" value="bootstrap/cache/services.phpunit.php"/> -->
        <!-- <server name="APP_PACKAGES_CACHE" value="bootstrap/cache/packages.phpunit.php"/> -->
        <!-- <server name="APP_ROUTES_CACHE" value="bootstrap/cache/routes.phpunit.php"/> -->
        <!-- <server name="APP_EVENTS_CACHE" value="bootstrap/cache/events.phpunit.php"/> -->
    </php>
</phpunit>
